/* CSS for carousel container */
.carousel {
    position: relative;
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center the carousel */
}

/* CSS for slides */
.slides {
    display: flex; /* Arrange slides in a row */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

/* CSS for individual slide (image) */
.slides img {
    flex: 0 0 auto; /* Disable flex grow and shrink */
    scroll-snap-align: start; /* Snap to start of each slide */
    width: 100%; /* Fill the container width */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for navigation buttons */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #9C002F;
    color: #ededed;
    border: none;
    cursor: pointer;
    font-family: monospace;
    border-radius: 5px;
}

.next {
    right: 0;
}
.prev {
    left: 0;
}

.next:hover {
    background-color: #5b5b5b;
}

.prev:hover {
    background-color: #5b5b5b;
}

/* For loading screen */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .loadingScreen {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loadingScreen > h1 {
    font-size: 3rem;
    font-family: 'Playfair Display', sans-serif;
  }

  .loadingScreen video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the screen */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Sends the video behind the text */
  }